
@model PricingVM
@{
    ViewData["Title"] = "index";
    var index = 0;
}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="row">
            @foreach (var pricing in  Model.Pricings)
            {
                <div class="col-lg-3 col-md-6 @(index>0?"mt-4 mt-md-0":""   )">
                    <div class="box     @(pricing.IsFeatured?"featured":"")">
                        @if (pricing.IsAdvanced)
                        {
                            <span class="advanced">Advanced</span>
                        }
                        <h3>@pricing.Name</h3>
                        <h4><sup>$</sup>@pricing.Price<span> / month</span></h4>
                        <ul>
                             @foreach(var service in Model.Services)
                            {
                                <li class="@(pricing.PricingServices.Any(ps=>ps.ServiceId==service.Id)?"":"na")">@service.Name</li>
                            }
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
                index++;
            }

    

        </div>

    </div>
</section><!-- End Pricing Section -->